@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background-color: #f8fafc;
  /* Subtle fabric texture pattern */
  background-image: radial-gradient(#cbd5e1 1px, transparent 1px), radial-gradient(#cbd5e1 1px, transparent 1px);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-playfair);
}